boto3==1.33.8
botocore==1.33.8
fastapi==0.105.0
langchain==0.1.0
openai==1.3.9
pinecone-client==2.2.4
PyPDF2==3.0.1
python-dotenv==1.0.0
Requests==2.31.0
supabase==2.2.1
tabula==1.0.5
tabula_py==2.9.0
tqdm==4.66.1
jPype1==1.4.1
uvicorn==0.24.0
pydantic==2.5.2
python-multipart==0.0.6
tiktoken==0.5.2
langchain-community
